@import url(general.css);
@import url(hover.css);

.swiper {
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

.swiper-slide {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.movie-card {
    max-width: 250px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.movie-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#nowPlaying,
#upcoming,
#popular,
#topRated{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

#nowPlaying h1,
#upcoming h1,
#popular h1,
#topRated h1{
    color: var(--cr-green);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.movie-card a{
    text-decoration: none;
    color: var(--cr-white); 
}

.swiper-button-next,
.swiper-button-prev{
    color: var(--cr-green) !important;
}